body {
	font-family: 'Josefin Sans', sans-serif;;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 15px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}


.jumbotron {
    background:
  linear-gradient(
      rgba(0, 0, 0, .3),
      rgba(0, 0, 0, .3)
    ),
    /* bottom, image */
    url('http://gdurl.com/4Vmw');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;

}


.jumbotron .container {
  position: relative;
  top:130px;
  left: 20px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-weight: bold;
}

.jumbotron h2 {
  font-size: 25px;
  color: #fff;
  margin-top: 0;
}

.portfolio {
    background-color: #efefef;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dbdbdb;
}

.portfolio h2 {
    color: #393c3d;
    font-size: 24px;
}

.portfolio p {
    font-size: 16px;
    margin-bottom: 13px;
}

.thumbnail{
     border:none !important;
     background: transparent !important;
     box-shadow:none !important;
  }

 .thumbnail img {
     -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
 }

.services {
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.services h3 {
  font-size: 18px;
  font-weight: bold;
}

.services a {
  color: #00b0ff;
}

.services p {
  font-size: 16px;
}

/**About**/

.about-title {
	background:
  linear-gradient(
      rgba(0, 0, 0, .3),
      rgba(0, 0, 0, .3)
    ),
    /* bottom, image */
    url('http://gdurl.com/4Vmw');
  background-repeat: no-repeat;
  background-size: cover;

}

.about-title h1, .about-title h2 {
	color: white;
	text-align: center;
}

.about p {
	padding-top: 50px;
	font-size: 1.3em;
}


.social-media {
  padding-top: 20px;
}


.social-media li {
  float: right;
  display: inline;
  padding-left: 10px;

}

.social-media li img {
  max-height: 40px;
}



